@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B1F35;
  --foreground: #ffffff;
  --surface: #1a2d40;
  --accent: #3A9E82;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
